bin/*

tmp/*

src/*

lib/*

var/config.cfg
var/mavlink.xml

res/arm/omap4/images/*
res/arm/omap4/angstrom/images/*
res/arm/omap4/ubuntu-core/images/*
res/arm/omap4/ubuntu-prebuilt/images/*
res/avr32/avr32comp/*
res/vendor/mavlink/*
res/vendor/freertos/*
res/vendor/stlink/*
res/vendor/nuttx/*
res/vendor/lm4tools/*

doc/zim-valleyforge/.zim/*

valleyforge.sublime-workspace

*/*~
*~

