bin/*
bin
tmp/*
tmp
src/*
src
lib/*
lib
var
var/config.cfg
var/mavlink.xml

res/arm/omap4/images/*
res/arm/omap4/angstrom/images/*
res/arm/omap4/ubuntu-core/images/*
res/arm/omap4/ubuntu-prebuilt/images/*
res/avr32/avr32comp/*
res/vendor/*

doc/zim-valleyforge/.zim/*

valleyforge.sublime-workspace

*/*.DS_STORE
*.DS_STORE

*/*~
*~

