# This is a config file for the different targets of the ValleyForge toolchain.

function bconf_ATmega64M1_BareMetal()
{
BCONF_NAME="ATmega64M1 Bare Metal"
COMPILER=avr-gcc
MAKEFUNCTION=makeavr
MAKEFILE=${TCPATH}/res/avr/Makefile
MCU_CODE=atmega64m1
OBJCOPY=avr-objcopy
IOHEADER="<avr/io.h>"
}

function bconf_ATmega2560_BareMetal()
{
BCONF_NAME="ATmega2560 Bare Metal"
COMPILER=avr-gcc
MAKEFUNCTION=makeavr
MAKEFILE=${TCPATH}/res/avr/Makefile
MCU_CODE=atmega2560
OBJCOPY=avr-objcopy
IOHEADER="<avr/io.h>"
}

function bconf_AT90CAN128_BareMetal()
{
BCONF_NAME="AT90CAN128 Bare Metal"
COMPILER=avr-gcc
MAKEFUNCTION=makeavr
MAKEFILE=${TCPATH}/res/avr/Makefile
MCU_CODE=at90can128
OBJCOPY=avr-objcopy
IOHEADER="<avr/io.h>"
}

function bconf_AT32UC3C0512C_BareMetal()
{
BCONF_NAME="AT32UC3C0512C Bare Metal"
COMPILER=${TCPATH}/res/avr32/avr32comp/bin/avr32-gcc
MAKEFUNCTION=make32
MAKEFILE=${TCPATH}/res/avr32/Makefile
MCU_CODE=uc3c0512c
OBJCOPY=${TCPATH}/res/avr32/avr32comp/bin/avr32-objcopy
IOHEADER="<avr32/io.h>"
}

