#! /bin/bash
# Having the shebang at the top makes my text editor colour the contents of the file nicely.  It isn't required though.

#	Copyright (C) 2012 Unison Networks Ltd
#
#	This program is free software: you can redistribute it and/or modify
#	it under the terms of the GNU General Public License as published by
#	the Free Software Foundation, either version 3 of the License, or
#	(at your option) any later version.
#
#	This program is distributed in the hope that it will be useful,
#	but WITHOUT ANY WARRANTY; without even the implied warranty of
#	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#	GNU General Public License for more details.
#
#	You should have received a copy of the GNU General Public License
#	along with this program.  If not, see <http://www.gnu.org/licenses/>

# This is a config file for the different targets of the ValleyForge toolchain.

# This file contains configurations for AVR32 architecture targets.

# This section contains information on the application build profiles.

function bconf_AT32UC3C0512C_BareMetal()
{
BCONF_NAME="AT32UC3C0512C Bare Metal"
C_COMPILER=${TCPATH}/res/avr32/avr32comp/bin/avr32-gcc
P_COMPILER=${TCPATH}/res/avr32/avr32comp/bin/avr32-g++
OBJCOPY=${TCPATH}/res/avr32/avr32comp/bin/avr32-objcopy
OBJDUMP=${TCPATH}/res/avr32/avr32comp/bin/avr32-objdump
SIZE=${TCPATH}/res/avr32/avr32comp/bin/avr32-size
MAKEFUNCTION=makeavr32
MAKEFILE=${TCPATH}/res/avr32/Makefile
MCU_CODE=uc3c0512c
IOHEADER="<avr32/io.h>"
STDINTHEADER="<stdint.h>"
HAL_HEADER_PATH=res/common/hal
HAL_SOURCE_PATH=res/avr32/hal
HAL_EN_LIST="gpio"
PORT_COUNT="A B C D"
BCONF_SPECIFIC_CONFIG=
}

function bconf_AT32UC3C0512C_freertos()
{
BCONF_NAME="AT32UC3C0512C Bare Metal"
C_COMPILER=${TCPATH}/res/avr32/avr32comp/bin/avr32-gcc
P_COMPILER=${TCPATH}/res/avr32/avr32comp/bin/avr32-g++
OBJCOPY=${TCPATH}/res/avr32/avr32comp/bin/avr32-objcopy
OBJDUMP=${TCPATH}/res/avr32/avr32comp/bin/avr32-objdump
SIZE=${TCPATH}/res/avr32/avr32comp/bin/avr32-size
MAKEFUNCTION=makeavr32
MAKEFILE=${TCPATH}/res/avr32/Makefile
LINKSCRIPT=${TCPATH}/res/avr32/freertos/uc3c0512c/link_uc3c0512c.lds
FREERTOS_CONFIG_FILE=${TCPATH}/res/templates/freertos/uc3c0512c/FreeRTOSConfig.h
MCU_CODE=uc3c0512c
IOHEADER="<avr32/io.h>"
STDINTHEADER="<stdint.h>"
HAL_HEADER_PATH=res/common/hal
HAL_SOURCE_PATH=res/avr32/hal
HAL_EN_LIST="gpio"
PORT_COUNT="A B C D"
BCONF_SPECIFIC_CONFIG=
BCONF_SPECIFIC_RTOS_PATH=res/avr32/freertos/uc3c0512c
BCONF_COMMON_RTOS_PATH=res/freertos
}

# This section contains information on the bootloader build profiles.



