#!/bin/bash
# Having the shebang at the top makes my text editor colour the contents of the file nicely.  It isn't required though; ESPECIALLY AS THIS ISN'T A BASH SCRIPT!

#	Copyright (C) 2012 Unison Networks Ltd
#
#	This program is free software: you can redistribute it and/or modify
#	it under the terms of the GNU General Public License as published by
#	the Free Software Foundation, either version 3 of the License, or
#	(at your option) any later version.
#
#	This program is distributed in the hope that it will be useful,
#	but WITHOUT ANY WARRANTY; without even the implied warranty of
#	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#	GNU General Public License for more details.
#
#	You should have received a copy of the GNU General Public License
#	along with this program.  If not, see <http://www.gnu.org/licenses/>

# This is a config file for the interfaces used by OpenOCD.

# This file is deliberately blank; it should be used when using the OpenOCD target configuration file already contains interface configuration (as for 'board' configurations).



