html,body {
 margin:5px;
 padding:0;
 background: #cccccc url('bg_body.jpg') repeat-x left top;
 }
body{
 font: 76% arial,sans-serif;
 text-align:center
 }
p{margin:0 10px 10px}
/*a{display:block;color: #0061b4;padding:10px}*/
div#header {height:130px;line-height:80px;margin:0;
  padding-left:10px;background: #EEE;color: #79B30B;
  background-image: url('./banner_AVR.jpg');
  }
div#container{text-align:left;background:#FFF;}
div#content {padding:20px;}
div#navigation{background:#B9CAFF}
div#extra{background:#FF8539}
div#footer{background: #333;color: #FFF}
div#footer p{margin:0;padding:5px 10px}

div#container{width:900px;margin:0 auto}
div#navigation{float:left;width:450px}
div#extra{float:right;width:450px}
div#footer{clear:both;width:100%}
a { 
   color:#0061b4; 
   font-weight:normal; 
   text-decoration:none; 
   border-bottom:1px dotted;  }
a:link { 
        color:#0061b4; 
        font-weight:normal; 
        text-decoration:none; 
        border-bottom:1px dotted;  }
a:hover { 
         color:#CC0000; 
         text-decoration:none; 
         border-bottom:1px dotted;  }
H1 { 
    font-weight:bold; 
    padding-top:10px; 
    margin:0px; 
    font-size:22px;
    color:#0061b4;  
    }
H2 { 
    font-weight:bold; 
    padding-top:10px; 
    margin:0px; 
    font-size:18px; 
    color:#0061b4;  }
H3 { 
    font-weight:bold; 
    padding-top:10px; 
    margin:0px; 
    font-size:16px;
    color:#0061b4;  }
H4 { 
    font-weight:bold; 
    padding-top:10px; 
    margin:0px; 
    font-size:14px;  }
H5 { 
    font-weight:bold; 
    padding-top:10px; 
    margin:0px; 
    font-size:12px;  }
H6 { 
    font-weight:bold; 
    padding-top:10px; 
    margin:0px; 
    font-size:10px;  }
LI.kadov-H1 { 
             font-weight:bold; 
             padding-top:10px; 
             margin:0px; 
             font-size:22px;  }
LI.kadov-H2 { 
             font-weight:bold; 
             padding-top:10px; 
             margin:0px; 
             font-size:18px;  }
LI.kadov-H3 { 
             font-weight:bold; 
             padding-top:10px; 
             margin:0px; 
             font-size:16px;  }
LI.kadov-H4 { 
             font-weight:bold; 
             padding-top:10px; 
             margin:0px; 
             font-size:14px;  }
LI.kadov-H5 { 
             font-weight:bold; 
             padding-top:10px; 
             margin:0px; 
             font-size:12px;  }
LI.kadov-H6 { 
             font-weight:bold; 
             padding-top:10px; 
             margin:0px; 
             font-size:10px;  }
td.whs5 p { 
           font:12px Arial, Verdana, sans-serif; 
           color:#000; 
           margin:0px; 
           padding:0px;  }
td.whs6 p { 
           font:12px Arial, Verdana, sans-serif; 
           color:#000; 
           margin:0px; 
           padding:0px;  }
td.whs7 p { 
           font:12px Arial, Verdana, sans-serif; 
           color:#000; 
           margin:0px; 
           padding:0px;  }
td.whs8 p { 
           font:12px Arial, Verdana, sans-serif; 
           color:#000; 
           margin:0px; 
           padding:0px;  }
td.whs9 p { 
           font:12px Arial, Verdana, sans-serif; 
           color:#000; 
           margin:0px; 
           padding:0px;  }
td.whs10 p { 
            font:12px Arial, Verdana, sans-serif; 
            color:#000; 
            margin:0px; 
            padding:0px;  }
P { 
   font-face:Arial, Verdana, sans-serif; 
   color:#000; 
   margin:0px; 
   padding:0px;  }
LI.kadov-P { 
            font-size:13px; 
            font-weight:bold; 
            margin-top:0pt; 
            margin-bottom:0pt;  }
A.expandspot { 
              color:#008000; 
              cursor:hand; 
              font-style:italic; 
              x-text-underline:off; 
              x-text-overline:off; 
              x-text-line-through:off; 
              text-decoration:none;  }
A.dropspot { 
            color:#008000; 
            cursor:hand; 
            font-style:italic; 
            x-text-underline:off; 
            x-text-overline:off; 
            x-text-line-through:off; 
            text-decoration:none;  }
A.glossterm { 
             color:#008000; 
             cursor:hand; 
             font-style:italic; 
             x-text-underline:off; 
             x-text-overline:off; 
             x-text-line-through:off; 
             text-decoration:none;  }
SPAN.expandtext { 
                 font-style:italic; 
                 font-weight:normal; 
                 color:#ff0000;  }
SPAN.glosstext { 
                font-style:italic; 
                font-weight:normal; 
                color:#0000ff;  }
P.NOTE { 
        font-style:italic; 
        font-weight:normal; 
        width:auto; 
        border:solid 1px #000; 
        background:#FFFFCC; 
        padding:3px; 
        margin-left:20px;  }
LI.kadov-P-CNOTE { 
                  font-style:italic; 
                  font-weight:normal; 
                  width:auto; 
                  border:solid 1px #000; 
                  background:#FFFFCC; 
                  padding:3px; 
                  margin-left:20px;  }
ul { 
    list-style:none outside; 
    margin:0; 
    padding:0 0 1em 0;  }
ul.square { 
           list-style:square outside; 
           margin:0 0 0 16px; 
           padding:0 0 1em 0;  }
ul.circle { 
           list-style:disc outside; 
           margin:0 0 0 16px; 
           padding:0 0 1em 0;  }
ol { 
    list-style:decimal; 
    margin:0 0 0 2.8em; 
    padding:0 0 1em 0;  }
li { 
    padding-bottom:.3em;  }
ul ul.circle { 
              margin-top:.3em;  }
ul ul.square { 
              margin-top:.3em;  }
P.COMMAND { 
           font-family:"Courier New"   , monospace; 
           background-color:dadada;  }
LI.kadov-P-CCOMMAND { 
                     font-family:"Courier New"   , monospace; 
                     background-color:dadada;  }
P.legalfooter { 
               font-size:10pt;  }
LI.kadov-P-Clegalfooter { 
                         font-size:10pt;  }
table {
 border-collapse: collapse;
 border-spacing: 0;
 font-family: Helvetica Neue, Arial, Helvetica, Geneva, sans-serif;
 font-size:8pt;
} 